/* Background utama */
.stApp {
    background-color: #3B82F6; /* biru muda (secondary) */
}

/* Sidebar (menu kiri) */
section[data-testid="stSidebar"] {
    background-color: #3B82F6; /* biru muda */
}

/* Subheader */
h2 {
    color: #3B82F6; /* biru muda */
}

/* Judul utama */
h1 {
    color: #1E3A8A; /* biru tua (primary) */
    text-align: center;
}

/* Teks biasa */
p, li {
    color: white;
}
